<h1>Profile Page</h1>
{{!-- Display User Information --}}
Name: {{user.name}}
<br><br>
<a href="{{user.link}}">Facebook Page</a>
{{!-- Display a link to logout --}}
{{!-- <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/15781633_10100491730615387_3081726910768954303_n.jpg" alt="">
 --}}
 <br><br>
<a href="/logout">Logoout</a>
